{% extends 'base.html' %}

{% block link %}<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">{% endblock %}

{% block main %}
<main class = "main"><h1>Статистика</h1>






      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Количество прослушиваний</th>
          </tr>
        </thead>
        <tbody>
        {% for sing in music %}
          {% if current_user.id == sing.user_id %}
            <tr>
                <th scope="row">{{sing.id}}</th>
                <td>{{sing.name}}</td>
                <td>{{sing.count}}</td>
              </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>

  <a href="home_page.html"><img src="img\exit.svg" alt=""></a></main>{% endblock %}
{% block title %}статистика{% endblock %}